WebService1/WebContent/wsdl/CreerPublicationServiceImp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:tns1="http://models" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models"/>
   <element name="creerPublication">
    <complexType>
     <sequence>
      <element name="publication" type="tns1:Publication"/>
     </sequence>
    </complexType>
   </element>
   <element name="creerPublicationResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Publication">
    <sequence>
     <element name="auteur" type="xsd:int"/>
     <element name="categorie" nillable="true" type="xsd:string"/>
     <element name="contenu" nillable="true" type="xsd:string"/>
     <element name="datespub" nillable="true" type="xsd:dateTime"/>
     <element name="descriptions" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="image" nillable="true" type="xsd:string"/>
     <element name="titre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="creerPublicationResponse">

      <wsdl:part element="impl:creerPublicationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creerPublicationRequest">

      <wsdl:part element="impl:creerPublication" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreerPublicationServiceImp">

      <wsdl:operation name="creerPublication">

         <wsdl:input message="impl:creerPublicationRequest" name="creerPublicationRequest">

       </wsdl:input>

         <wsdl:output message="impl:creerPublicationResponse" name="creerPublicationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreerPublicationServiceImpSoapBinding" type="impl:CreerPublicationServiceImp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="creerPublication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="creerPublicationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="creerPublicationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreerPublicationServiceImpService">

      <wsdl:port binding="impl:CreerPublicationServiceImpSoapBinding" name="CreerPublicationServiceImp">

         <wsdlsoap:address location="http://localhost:8081/WebService1/services/CreerPublicationServiceImp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
