WebService1/WebContent/wsdl/ListePublicationServiceImp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:tns1="http://models" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models"/>
   <element name="listePublication">
    <complexType/>
   </element>
   <element name="listePublicationResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listePublicationReturn" type="tns1:Publication"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Publication">
    <sequence>
     <element name="auteur" type="xsd:int"/>
     <element name="categorie" nillable="true" type="xsd:string"/>
     <element name="contenu" nillable="true" type="xsd:string"/>
     <element name="datespub" nillable="true" type="xsd:dateTime"/>
     <element name="descriptions" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="image" nillable="true" type="xsd:string"/>
     <element name="titre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listePublicationResponse">

      <wsdl:part element="impl:listePublicationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listePublicationRequest">

      <wsdl:part element="impl:listePublication" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ListePublicationServiceImp">

      <wsdl:operation name="listePublication">

         <wsdl:input message="impl:listePublicationRequest" name="listePublicationRequest">

       </wsdl:input>

         <wsdl:output message="impl:listePublicationResponse" name="listePublicationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ListePublicationServiceImpSoapBinding" type="impl:ListePublicationServiceImp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listePublication">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listePublicationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listePublicationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ListePublicationServiceImpService">

      <wsdl:port binding="impl:ListePublicationServiceImpSoapBinding" name="ListePublicationServiceImp">

         <wsdlsoap:address location="http://localhost:8081/WebService1/services/ListePublicationServiceImp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
